* {
    border: red 2px dashed;
}

.wholesite-body {
    background-color: rgb(60, 60, 60);
    color: whitesmoke;
    min-height: 100vh;
}

.header {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.title {
    text-align: center;
}

.title-text {
    font-size: inherit;
}

.poster-board {
    background-image: url("../img/demo2.webp");
    height: 700px;
    background-position: center;
    background-size: 2900px 2000px;
    display: flex;
}

.poster-text-box {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.site-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;

}

.body-img {
    border: white 4px solid;
}

.body-text {
    width: 50%;
    padding-left: 20px;
}

.site-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-scroll {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sideButton {
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 20px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0);
    color: aliceblue;
    filter: drop-shadow(0px 0px 8px rgb(118, 118, 118));
  }

.contact {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-inner {
    font-size: inherit;
    border: white 2px solid;
    padding: 20px;
    border-radius: 20px;
}
